body{
    background-color: rgb(208,208,208);
    text-align:center;
    letter-spacing: 10px;
    font-size: 20px;
    line-height: 3em;
    text-transform: uppercase;
    }

    div:nth-child(odd)
    {
        color: blue;
        font-size: 2em;
    }
    div:nth-child(even)
    {
        color:red;
    }
    div:nth-child(n+5)
    {
        text-transform: lowercase;
    }
    